<html ng-app="notesApp">
    <head>
        <meta charset="utf-8">
        <title>Notes App</title>
    </head>
    <body ng-controller="MainCtrl as ctrl">
        <h1>
            Qual o seu sexo?
        </h1>
        <div>
            <input type="radio"
                name="gender"
                ng-model="ctrl.user.gender"
                value="male">Male
            <input type="radio"
                name="gender"
                ng-model="ctrl.user.gender"
                value="female">Female
            <input type="radio"
                name="gender"
                ng-model="ctrl.user.gender"
                value="ctrl.otherGender">{{ctrl.otherGender}}
        </div>
        <script src="/bower_components/angular/angular.min.js"></script>
        <script>
            angular.module('notesApp', [])
                .controller('MainCtrl', [function(){
                    var self = this;
                    self.user = {gender: 'male'};
                    self.otherGender = 'other';
                }]);
        </script>
    </body>
</html>