<html ng-app="notesApp">
    <head>
        <meta charset="utf-8">
        <title>Notes App</title>
    </head>
    <body ng-controller="MainCtrl as ctrl">
        <div>
            <select ng-model="ctrl.selectedContryId"
            ng-options="c.id as c.label for c in ctrl.countries">
            </select>
            Selected Country ID: {{ctrl.selectedContryId}}
        </div>
        <br />
        <div>
            <select ng-model="ctrl.selectedContry"
            ng-options="c.label for c in ctrl.countries">
            </select>
            Selected Country ID: {{ctrl.selectedContry}}
        </div>
        <script src="/bower_components/angular/angular.min.js"></script>
        <script>
            angular.module('notesApp', [])
                .controller('MainCtrl', [function(){
                    var self = this;
                    self.countries = [
                        {label: 'USA', id: 1},
                        {label: 'India', id: 2},
                        {label: 'Brasil', id: 3}
                    ];
                    self.selectedContryId = 3;
                    self.selectedContry = self.countries[2];
                }]);
        </script>
    </body>
</html>